<div class="container">
  <h2>{{user.knownAs}}'s Profile</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png' }}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location: </strong>{{user.city}}, {{user.country}}</div>
          <div>
            <strong>Age: </strong>{{user.age}}</div>
          <div>
            <strong>Last Active: </strong>{{user.lastActive | timeAgo}}</div>
          <div>
            <strong>Member Since: </strong>{{user.created | date}}</div>
        </div>
      </div>
      <div class="card-footer right border-0 bg-light p-1">
        <!-- <div class="btn-group justify-content-center"> -->
        <button type="button" class="btn btn-sm btn-primary m-1"><i class="fa fa-thumb-up"></i>Like</button>
        <button type="button" class="btn btn-sm btn-success m-1" (click)="selectTab(3)"><i class="fa fa-mail"></i>Message</button>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-sm-8">
      <tabset #memberTabs>
        <tab heading="About {{user.knownAs}}">
          <h4>Description: </h4>
          <p>{{user.introduction}}</p>
          <h4>Looking For: </h4>
          <p>{{user.lookingFor}}</p>
        </tab>
        <tab heading="Interests">
          <h4>Description: </h4>
          <p>{{user.interests}}</p>
        </tab>
        <tab heading="Photos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </tab>
        <tab heading="Messages">
          <app-member-messages [userId]="user.id"></app-member-messages>
        </tab>
      </tabset>
    </div>
  </div>
</div>